$color_magenta: #ff0080;
$color_pink: #fac0e1;
$color_blue_cerulean: #6699ff;
$color_blue_dodger: #e6eeff;
$color_blue_green: #00ffff;
$color_green_lime: #78fee0;
$color_green_caribbean: #3b9a9c;
$color_yellow: #fef4a9;
$color_supernova: #ffb726;
$color_orange: #ffa563;
$color_red_flamingo: #e64e4e;
$color_white: #ffffff;
$color_gray_90: #e6e6e6;
$color_gray_75: #bfbfbf;
$color_gray_60: #999999;
$color_gray_50: #808080;
$color_gray_30: #4d4d4d;
$color_black: #000000;

$font_sahel: sahel, sans-serif;
